//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');

//theme colors
$theme-light: #58a5f0;
$theme-medium: #0277bd;
$theme-dark: #004c8c;
$theme-gray: #242f3e;
$very-light-gray: #eeeeee;

//default page style
.root {
  z-index: 0;
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  font-family: Poppins, Arial, sans-serif;
  background-color: $very-light-gray;
}

.col {
  display: flex;
  flex-direction: column;
}

.sectionWrapper {
  z-index: 0;
  width: 100%;
  height: 100vh;
  place-items: center;
  place-content: center;
  align-self: center;
}

//section title (description, preview, contact) styles
h2, .sectionTitle {
  margin-bottom: 60px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  text-align: center;
}

.sectionSubtitle {
  font-family: Poppins, Arial, sans-serif;
  font-size: 20px;
}

hr {
  background: $theme-medium;
  height: 4px;
  width: 15%;
}

.kwiliLogo {
  height: 60px;
  padding-right: 15px;
}

.kwiliTagNavBar {
  font-family: Montserrat, Arial, sans-serif;
  padding: 0;
  margin-right: 30px;
  margin-left: 50px;
  display: flex;
  flex-flow: row;
  color: white;
  font-size: 40px;
  place-content: center;
  place-items: center;
}

.navBarButton {
  @media only screen and (min-width: 768px) {
    padding: 15px 20px;
  }
  padding: 15px 5px;
  margin: 0 3px;
  border-style: none;
  border-radius: 100px;
  color: white;
  font-weight: bold;
  //for the sliding animation, we use a bg twice as large as the button
  //first half = color before hover ; second half = color on hover
  background-size: 200% 100%;
  background-image: linear-gradient(to left, white 50%, $theme-light 50%);
  transition: background-position 0.5s;
  &:hover {
    background-position: 100% 0%;
    color: $theme-medium;
    transition: all 0.5s ease-out;
  }
}

.navBar {
  min-width: 60%;
  max-width: 80%;
  padding-right: 20px;
  z-index: 500;
  display: flex;
  flex-flow: row wrap;
  place-items: center;
  place-content: center;
  align-self: center;
  font-weight: bold;
  background-color: $theme-light;
  box-shadow: -0px -0px 8px 2px rgba(0, 0, 0,.6);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  border-radius: 50px;
  @media only screen and (max-width: 768px) {
    border-radius: 30px;
    max-width: 100%;
  }
}

.introText {
  @media only screen and (min-width: 768px) {
    margin-left: 60px;
  }
  z-index: 10;
  margin-left: 30px;
  text-align: right;
  color: white;
  h1 {
    @media only screen and (min-width: 768px) {
      font-size: 72px;
    }
    font-family: Montserrat, Arial, sans-serif;
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 20px;
  }
  p {
    font-size: 18px;
  }
  input {
    @media only screen and (min-width: 768px) {
      padding: 20px 70px;
    }
    box-sizing: border-box;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 30px;
    border-style: none;
    border-radius: 200px;
    background-size: 200% 100%;
    background-image: linear-gradient(to left, $theme-light 50%, $theme-gray 50%);
    transition: background-position 0.5s;
    &:hover {
      background-position: 100% 0%;
      transition: all 0.5s ease-in-out;
      box-shadow: inset 0 0 0 3px white;
    }
  }
}

//wrapper for the intro section
.introSection {
  z-index: 10;
  margin: 50px;
  display: flex;
  flex-flow: row;
  place-items: center;
  place-content: center;
  align-self: center !important;
  justify-self: center;
  img {
    z-index: 10;
    @media only screen and (min-width: 768px) {
      height: 60vh;
    }
    height: 40vh;
  }
}

.blueCurveWrapper {
  z-index: 2;
  overflow: hidden;
}

.blueCurve {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  stroke: none;
  fill: $theme-medium;
  width: 100%;
  height: 100%;
}

.backgroundImageWrapper {
  width: 100%;
  height: 100%;
}

.backgroundImage {
  height: 100%;
}

.textWrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.descriptionSection {
  z-index: 10;
  background-color: $very-light-gray;
  color: $theme-gray;
  align-self: center;
  place-content: center;
  place-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  text-align: center !important;

  h3 {
    margin: 20px;
    font-family: Poppins, sans-serif;
    color: $theme-medium;
    font-size: 24px;
    font-weight: bold;
  }

  .descBoxWrapper {
    @media only screen and (min-width: 768px) {
      flex-flow: row wrap;
      width: 75%;
    }
    flex-flow: column;
    width: 80%;
    place-items: center;
    place-content: center;
    margin: 50px 0;
    align-self: center;
    display: flex;

  }

  .descBox {
    @media only screen and (min-width: 768px) {
      flex-flow: row wrap;
      width: 25%;
      margin: 30px;
    }
    min-width: 200px;
    width: auto;
    margin: 30px 0;
    padding: 25px;
    justify-self: stretch;
    align-self: stretch;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0,.3);
    overflow-x: auto;

    &:hover {
      transition: all 0.1s ease-in;
      background-color: $theme-light;
      box-shadow: 0px 0px 12px 3px rgba(0, 0, 0,.5);
      p {
        color: $theme-gray;
      }
      h3 {
        color: $theme-dark;
      }
      .rhombus, .rhombusWrapper {
        background-color: white;
      }
    }

    p {
      color: #696969;
      text-align: center;
      font-size: 16px;
    }
  }
}

.rhombus {
  background-color: $theme-light;
  margin: 10px auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  color: $theme-gray !important;
  font-size: 26px;
  .icon {
    z-index: 200
  }
  transform: rotate(45deg);
}

.rhombusContents {
  transform: rotate(-45deg) translateX(-5px);
  margin: auto;
  place-items: center;
  align-items: center;
}

.previewSection {
  z-index: 50;
  @media only screen and (min-width: 900px) {
    padding: 100px 50px;
  }
  padding: 50px;
  display: flex;
  flex-flow: column;
  background: url("../../Images/waves.png") bottom;
  background-size: cover;
  background-color: $theme-gray;
  color: white;
  text-align: center;
  place-items: center;
  place-content: center;
  h2 {
    color: $theme-gray
  }
}

.previewContents {
  @media only screen and (min-width: 1200px) {
    flex-flow: row;
  }
  max-width: 80%;
  display: flex;
  flex-flow: column;
  place-items: center;
  place-content: center;
  border: none;
  padding-bottom: 300px;
  .demo {
    @media only screen and (min-width: 900px) {
      max-width: 50%;
    }
  }

  .slideShow {
    @media only screen and (min-width: 900px) {
      margin-bottom: 0;
    }
    margin-bottom: 30px;
    display: grid; //grid display used for img overlap
    //images have to be on same row for this to work
    grid-template-columns: repeat(12, 1fr);
    position: relative;

    .desktopBg {
      grid-column: 1 / -1;
      grid-row: 1;
      img {
        width: 70%;
      }
    }
    .phoneBg {
      grid-column: 10;
      grid-row: 1;
      padding-top: 150%;
      z-index: 1;
      img {
        width: 275%;
      }
    }
  }

  .arrowButtonsWrapper {
    display: flex;
    flex-flow: row;
    place-items: center;
    place-content: center;
    @media only screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
    margin-bottom: 30px;
    .arrowButton {
      box-shadow: 0px 0px 10px 3px rgba(0, 0, 0,.3);
      display: flex;
      place-items: center;
      place-content: center;
      width: 50px;
      height: 50px;
      padding: 10px;
      margin: 0 30px;
      background-color: $theme-gray;
      border-radius: 100%;
      color: white;
      font-size: 30px;
      &:hover {
        background-color: #4d4d4d;
        box-shadow: 0px 0px 10px 3px rgba(255, 255, 255,.6);
      }
    }
  }

  .text {
    @media only screen and (min-width: 1200px) {
      max-width: 60%;
      text-align: left;
    }
    margin-bottom: 30px;
    display: flex;
    flex-flow: column;
    text-align: justify;
    h3 {
      font-family: Montserrat, Arial, sans-serif;
      text-transform: uppercase;
      font-size: 24px;
    }

    .previewDescriptionItem {
      margin: 20px 0;
      align-content: center;
      align-items: center;
      display: flex;
      flex-flow: row;
      .icon {
        @media only screen and (min-width: 900px) {
          margin: 5px 20px;
          font-size: 36px;
          padding: 15px;
        }
        margin: 5px;
        align-self: flex-start;
        padding: 10px;
        background-color: white;
        color: $theme-dark;
        font-size: 26px;
        display: flex;
        flex-shrink: 1;
        border-radius: 100%;
        align-content: center;
        align-items: center;
      }
    }

    .buttonsWrapper {
      padding: 20px;
      background-color: transparent;
      display: flex;
      flex-flow: row wrap;
      place-items: center;
      place-content: center;
    }

    .downloadButton {
      place-content: center;
      place-items: center;
      display: flex;
      flex-flow: row;
      font-family: Montserrat, Poppins, Arial, sans-serif;
      font-weight: bold;
      font-size: 12px;
      text-align: center;
      margin: 15px;
      padding: 15px 50px;
      color: white;
      background-size: 200% 100%;
      background-image: linear-gradient(to right,  $theme-gray 50%, $theme-light 50%);
      transition: background-position 0.5s;
      border-radius: 100px;
      .icon {
        font-size: 30px;
        align-self: center;
        justify-self: center;
        color: $theme-light
      }
      em {
        font-family: Montserrat, Poppins, Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: bolder;
      }
      &:hover {
        background-position: -100% 0%;
        transition: all 0.5s ease-in;
        box-shadow: inset 0 0 0 3px white;
        .icon {
          color: $theme-gray;
        }
      }
    }
  }
}

.contactFormSection {
  z-index: 5;
  background-color: $theme-gray;
  padding: 100px 50px 30px 50px;
  display: flex;
  flex-flow: column;
  color: white;
  text-align: center;
  place-items: center;
  place-content: center;
  margin: 0;

  h2 {
    color: $theme-light;
    margin-bottom: 10px;
  }

  .sectionSubtitle {
    margin-bottom: 50px;
  }

  .phoneEmail {
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    place-items: center;
    place-content: center;
    border-radius: 200px;
    background: $theme-light;
    color: $theme-gray;
    .icon {
      color: $theme-dark;
      font-size: 30px;
    }
    div {
      align-self: center;
      justify-self: center;
    }
    p {
      margin: auto 10px;
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-flow: column;
    align-self: center;
    place-content: stretch;
    place-items: stretch;
    margin: 30px 0;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      width: 80%;
    }
    @media only screen and (min-width: 900px) {
      flex-direction: row;
      width: 50%;
    }
    .messageField, .formField {
      margin: 10px;
      padding: 10px;
      border: solid 2px $theme-light;
      &:focus {
        outline: none; //no ugly square outline on click
      }
    }
    .formField {
      border-radius: 50px;
    }
    .messageField {
      display: flex;
      flex-grow: 1;
      border-radius: 20px;
      resize: none;
      overflow-y: auto;
    }
    .userInfo {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      @media only screen and (min-width: 768px) {
        max-width: 50%;
      }
    }
  }

  .sendButton {
    @media only screen and (min-width: 600px) {
      width: 50%;
    }
    @media only screen and (min-width: 768px) {
      width: 15%;
    }
    width: 60%;
    padding: 15px;
    display: flex;
    align-self: center;
    place-content: center;
    place-items: center;
    border-style: none;
    border-radius: 100px;
    color: white;
    background: $theme-medium;
    font-family: Montserrat, Poppins, Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% 100%;
    background-image: linear-gradient(to right,  $theme-medium 50%, $theme-light 50%);
    transition: background-position 0.5s;
    &:hover {
      background-position: -100% 0%;
      transition: all 0.5s ease-in;
      box-shadow: inset 0 0 0 3px white;
    }
  }

  .socialMedia {
    margin-top: 70px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    place-content: center;
    place-items: center;
    .buttonsWrapper {
      display: flex;
      flex-direction: row;
    }
    .socialMediaButton {
      margin: 15px;
      background-color: $theme-medium;
      color: white;
      width: 60px;
      height: 60px;
      font-size: 40px;
      border-radius: 100px;
      place-content: center;
      place-items: center;
      overflow: hidden;
      &:hover {
        transition: all 0.1s ease-in;
        background-color: $theme-light;
        box-shadow: 0px 0px 12px 5px rgba(0, 0, 0,.7);
      }
    }
    p {
      font-size: 12px;
    }
  }

}
