//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins&display=swap');

//theme colors
$theme-light: #58a5f0;
$theme-medium: #0277bd;
$theme-dark: #004c8c;
$theme-gray: #242f3e;
$very-light-gray: #eeeeee;

.homePage {

  background-color: $theme-gray;
  display: flex;
  flex-grow: 1;
  flex-flow: column wrap;
  place-items: center;
  place-content: center;
  place-self: center;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  .blueCurveWrapper{
    z-index: 1;
  }

  .root{
    background-color: $theme-dark;
  }
}

.homePageContents {

  z-index: 10;
  color: $theme-medium;
  align-self: center;
  place-content: center;
  place-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  //flex-grow: 1;
  //flex-shrink: 1;
  width: 100%;
  text-align: center !important;

  h1 {
    color: white;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 6em;
  }

  h2 {
    text-transform: none;
    margin: 20px;
    font-family: Poppins, sans-serif;
    font-weight: lighter;
    color: $very-light-gray;
    font-size: 24px;
  }

  .descBoxWrapper {

    #docImage{
      @media only screen and (min-width: 600px) {
        width: 20%;
        min-height: 300px;
      }
      width: 100%;
      min-height: 200px;
      background-size: contain;
      background-repeat:no-repeat;
      background-position: center;
      background-image: url("../../Images/doc_clipboard.png");
    }

    @media only screen and (min-width: 768px) {
      flex-flow: row wrap;
      width: 100%;
    }
    flex-flow: column;
    width: 100%;
    place-items: center;
    place-content: center;
    margin: 50px 0;
    align-self: center;
    justify-self: center;
    display: flex;

  }

  .descBox {
    @media only screen and (min-width: 768px) {
      align-self: stretch;
      flex-flow: row wrap;
      width: 20%;
      margin: 10px;
    }
    min-width: 200px;
    width: 80%;
    margin: 50px 0;
    padding: 25px;
    background-color: $theme-light;
    box-shadow: 0px 0px 12px 3px rgba(0, 0, 0,.3);
    overflow-x: auto;
    border-radius: 10px;
    color: $theme-dark;

    .rhombus, .rhombusWrapper {
      background-color: white;
    }

    &:hover {
      transition: all 0.1s ease-in;
      box-shadow: 0px 0px 12px 3px rgba(0, 0, 0,.5);
      text-decoration: none;
      p {
        color: $theme-gray;
      }
      h3 {
        color: $theme-dark;
      }
      .rhombus, .rhombusWrapper {
        background-color: $theme-medium;
      }
    }

    p {
      color: $theme-gray;
      text-align: center;
      font-size: 16px;
    }
  }
}

.landingLink{
  z-index: 10;
  place-content: center;
  place-items: center;
  display: flex;
  flex-flow: row wrap;
  font-family: Montserrat, Poppins, Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  padding: 15px 50px;
  color: white;
  background-size: 200% 100%;
  background-image: linear-gradient(to right,  $theme-dark 50%, $theme-light 50%);
  transition: background-position 0.5s;
  border-radius: 100px;

  &:hover {
    background-position: -100% 0%;
    transition: all 0.5s ease-in;
    box-shadow: inset 0 0 0 3px white;
    .icon {
      color: $theme-gray;
    }
  }
  h3 {
    font-family: Poppins, Arial, sans-serif;
    text-decoration: none !important;
    font-style: normal;
  }
}




