$theme-light: #58a5f0;
$theme-medium: #0277bd;
$theme-dark: #004c8c;

.hospitalIcon {
  color: #c42f2f;
  font-size: 4vh;
  background-color: white;
  border-width: 2px;
  border-color: #b8b8b8;
  border-radius: 100%;
  border-style: solid;
  padding: 4px;
}

.userIcon {
  color: #86b356;
  font-size: 4vh;
  background-color: white;
  border-width: 2px;
  border-color: #b8b8b8;
  border-radius: 100%;
  border-style: solid;
  padding: 4px;
}

.hospitalPopup {
  position: fixed;
  display: flex;
  flex-flow: row;
  place-content: center;
  flex-grow: 1;
  font-weight: bold;
}

.loadingStyle {
  width: 100%;
  height: 100%;
}

.mapSerchBar{
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 32px;
  padding: 0 12px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  outline: none;
  position: fixed;
  margin: 30px;
}

.hospitalName {
  color: $theme-medium;
}

.directionsPanel {
  position: fixed;
  z-index: 500;
  width: 300px;
  height: 300px;
  right: 50px;
  top: 50px;
}