$theme-light: #58a5f0;
$theme-medium: #0277bd;
$theme-dark: #004c8c;
$theme-gray: #242f3e;

.mapNavBarWrapper {
  @media only screen and (max-width: 768px) {
    //hides navbar on small screens
    //it will be replaced by home button
    visibility: hidden;
  }
  width: 90%;
  z-index: 100;
  position: absolute;
  display: flex;
  place-items: center;
  place-content: center;
  top: 0;
}

.hospitalPopup {
  position: fixed;
  display: flex;
  flex-flow: row;
  place-content: center;
  flex-grow: 1;
  font-weight: bold;
}

.loadingStyle {
  width: 100%;
  height: 100%;
}

.mapSearchBar{
  z-index: 500;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border: 1px solid transparent;
  width: 240px;
  height: 32px;
  padding: 0 12px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  outline: none;
  position: fixed;
  margin: 30px;
}

.hospitalName {
  color: $theme-medium;
}

.directionsPanel {
  position: fixed;
  z-index: 500;
  width: 300px;
  height: 300px;
}

.activeTravelModeButton {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: 15px;
  border-radius: 100%;
  background-color: $theme-light;
  color: $theme-dark;
  border-width: 2.5px;
  border-color: $theme-medium;
  border-style: solid;
  height: 58px;
  width: 58px;
}

.travelModeButton {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  margin: 15px;
  border-radius: 100%;
  background-color: white;
  color: $theme-dark;
  border-width: 2.5px;
  border-color: $theme-medium;
  border-style: solid;
  height: 58px;
  width: 58px;
  &:hover {
    box-shadow: 0px 0px 12px 2.5px white;
  }
}

.travelModeButtonsWrapper {
  position: fixed;
  z-index: 500;
  right: 0;
  top: 0;
  color: $theme-dark;
}

.travelModeIcon {
  margin: auto;
  align-self: center;
  justify-self: center;
  font-size: 35px;
}

.slider {
  color: white !important;
  height: 8px !important;
  .thumb {
    height: 24px;
    width: 24px;
    background-color: #fff;
    border: 2px solid $theme-medium;
    margin-top: -8;
    margin-left: -12;
    &:focus:hover:active {
      box-shadow: inherit;
    }
  };
  .valueLabel {
    left: calc(-50% + 4px);
  };
  .track {
    height: 8px;
    border-radius: 4px;
  };
  .rail {
    height: 8px;
    border-radius: 4px;
  };
}

.directionsPanel {
  display: flex;
  place-items: center;
}

.directionsSteps {
  width: 350px;
  display: flex;
  place-items: center;
  padding: 30px;
  border-radius: 30px;
  overflow-y: auto;
}

.sliderTitle {
  flex-shrink: 1;
  color: white;
  border-radius: 50px;
  //box-shadow: 0 2px 6px rgba(0, 0, 0, 0.7);
  //background-color: $theme-light;
  //padding: 15px;
}

.sliderWrapper {
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-items: center;
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  position: fixed;
  bottom: 0;
  margin: 20px;
}

.sliderBox {
  width: 80vw;
}

.homeButton {
  @media only screen and (min-width: 768px) {
    //hides home button on bigger screens where navbar is active
    visibility: hidden;
  }
  display: flex;
  position: fixed;
  top: 80px;
  left: 30px;
  border-radius: 100%;
  background-color: white;
  color: $theme-dark;
  border-width: 2.5px;
  border-color: $theme-medium;
  border-style: solid;
  height: 58px;
  width: 58px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  &:hover {
    box-shadow: 0px 0px 12px 2.5px white;
  }
}

.homeIcon {
  margin: auto;
  align-self: center;
  justify-self: center;
  font-size: 35px;
}